@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f5f2ed;
  color: #000;
  scroll-behavior: smooth;
}

.section-padding {
  @apply px-4 sm:px-6 md:px-14 lg:px-24;
}

.container-width {
  @apply mx-auto max-w-[1400px];
}
